@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
html,
body {
  position: relative;
  height: 100%;
}

.text-primary {
  color: #C4FF00 !important;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.01px;
  line-height: 27px;
}

body {
  background: #070C0B;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.banner__section {
  /* background: url("./assets/img/Bitmap.png") no-repeat center center; */
  min-height: 800px;
  background-size: cover;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 25px 0;
}

header li.nav-item a.nav-link {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
  line-height: 33px;
  padding: 10px 20px !important;
}

.search__area {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 70px;
  -webkit-box-shadow: 0 39px 53px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 39px 53px 0 rgba(0, 0, 0, 0.13);
  margin-top: 100px;
}

.search__content h3 {
  color: #fff;
  font-size: 53px;
  text-align: left;
  font-weight: 100;
  max-width: 371px;
  margin-top: 30px !important;
  margin: auto;
}

.form-control {
  min-height: 55px;
}

.search__action input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search__action .search__btn {
  background: #C4FF00;
  border: none;
  padding: 0 23px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search__action .search__btn img {
  width: 30px;
}

.logo {
  width: 100px;
}

.pt-160 {
  padding-top: 160px;
}

ul.navbar-nav li:last-child a {
  padding-right: 0 !important;
}

.main {
  margin-top: 160px;
}

.heading__title {
  color: #fff !important;
  display: inline-block;
  position: relative;
}

.heading__title::after {
  position: absolute;
  content: '';
  height: 9px;
  width: 45px;
  background-color: #C4FF00;
  left: 0;
  bottom: -15px;
  position: absolute;
}

.btn-outline-white {
  background: transparent;
  color: #fff;
  border: solid 2px;
  border-radius: 0;
  padding: 8px 23px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section.slider__area {
  background: #2B2D2D;
  padding: 50px 0;
  min-height: 346px;
}

section.slider__area h2 {
  max-width: 685px;
  margin: auto;
  color: #fff;
}

.rec-carousel-wrapper:focus {
  outline: none;
  border: none;
}

.dXrOHt {
  min-height: auto !important;
}

.dautGI {
  width: 9px;
  height: 12px !important;
  background: #fff !important;
}

.rec.rec-dot.rec.rec-dot_active {
  background: #C4FF00 !important;
  border: none;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  width: 9px;
  height: 12px;
}

.quote__author {
  text-align: right;
  margin-top: 40px;
}

.quote__author > * {
  color: rgba(255, 255, 255, 0.5) !important;
}

.sc-Axmtr.jBnCOy.rec.rec-pagination {
  position: absolute;
  bottom: -80px;
}

.faq__card h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.faq__card p {
  font-size: 20px;
}

.faq__card {
  margin-bottom: 70px;
}
/*# sourceMappingURL=App.css.map */