html,
body {
  position: relative;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$primaryBg:#C4FF00;
$primaryText:#C4FF00;

.text-primary {
  color: $primaryText !important;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.01px;
  line-height: 27px
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  background: #070C0B;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.banner__section {
  // background: url('./assets/img/Bitmap.png') no-repeat center center;
  min-height: 800px;
  background-size: cover;
}


header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 25px 0;

  li.nav-item {
    a.nav-link {
      color: #FFFFFF;
      font-size: 17px;
      font-weight: 400;
      line-height: 33px;
      padding: 10px 20px !important;
    }
  }
}

.search__area {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 70px;
  box-shadow: 0 39px 53px 0 rgba(0, 0, 0, 0.13);
  margin-top: 100px;
}

.search__content h3 {
  color: #fff;
  font-size: 53px;
  text-align: left;
  font-weight: 100;
  max-width: 371px;
  margin-top: 30px !important;
  margin: auto;
}

.form-control {
  min-height: 55px;
}

.search__action {
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search__btn {
    background: $primaryBg;
    border: none;
    padding: 0 23px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    img {
      width: 30px;
    }
  }
}



.logo {
  width: 100px;
}

.pt-160 {
  padding-top: 160px;
}



ul.navbar-nav li:last-child a {
  padding-right: 0 !important;
}

.main {
  margin-top: 160px;
}


.heading__title {
  color: #fff !important;
  display: inline-block;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 9px;
    width: 45px;
    background-color: $primaryBg;
    left: 0;
    bottom: -15px;
    position: absolute;
  }
}

.btn-outline-white {
  background: transparent;
  color: #fff;
  border: solid 2px;
  border-radius: 0;
  padding: 8px 23px;
  transition: all 0.3s;
}

section.slider__area {
  background: #2B2D2D;
  padding: 50px 0;
  min-height: 346px;

  & h2 {
    max-width: 685px;
    margin: auto;
    color: #fff;
  }
}

.rec-carousel-wrapper:focus {
  outline: none;
  border: none;
}

.dXrOHt {
  min-height: auto !important;
}

.dautGI {
  width: 9px;
  height: 12px !important;
  background: #fff !important;
}

.rec.rec-dot.rec.rec-dot_active {
  background: $primaryBg !important;
  border: none;
  box-shadow: 0 0 0;
  width: 9px;
  height: 12px;
}

.quote__author {
  text-align: right;
  margin-top: 40px;

  &>* {
    color: rgba(255, 255, 255, 0.5) !important;
  }
}

.sc-Axmtr.jBnCOy.rec.rec-pagination {
  position: absolute;
  bottom: -80px;
}

.faq__card h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.faq__card p {
  font-size: 20px;
}

.faq__card {
  margin-bottom: 70px;
}


form {
  max-width: 300px;
  background: #ffffff17;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
}

input {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
  min-height: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: solid 1px #d6d6d6;
  &:focus {
    outline: none;
    border: transparent;
  }
}

button {
  width: 100%;
  padding: 12px 30px;
  border-radius: 4px;
  border: none;
  background: #28a745;
  color: #fff;
  cursor: pointer;
  &:focus {
    outline: none;
    border: transparent;
  }
}

.user_details {
  text-align: center;
  background: #5050501f;
  padding: 30px;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
  color: #ffffff;
}

.text-danger {
  color: #ff606f!important;
  font-size: 14px;
}